@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: "Merriweather", sans-serif;
  font-size: 34px;
  margin: auto;
  background-color: #1b1e1f;
  color: white;
  overflow-wrap: break-word;
}

main {
  min-height: 100vh;
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181a1b;
}

.content {
  max-width: 92vh;
  margin: 0 auto;
  padding: 1em;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0.5em;
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flip-card {
  background-color: transparent;
  width: 5em;
  height: 5em;
  perspective: 1000px;
  animation: fadeout 2s;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.01em 0.3em 0 rgba(0, 0, 0, 0.2);
}

.center-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-card-inner-flip {
  transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  font-family: "Black Ops One", cursive;
  font-size: 2em;
  color: white;
  background-color: #542d24;
}

.flip-card-back {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 2em;
  color: #dc3023;
  background-color: #303434;
  transform: rotateX(180deg);
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .content {
    padding: 0;
  }
}
