* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body{
    margin: 30px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-col {
    width: 60%;
    display: flex;
    flex-direction: column;

}

.right-col {
    width: 40%;
    display: flex;
    flex-direction: row;
}